# ---------------- LOGS ----------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---------------- NODE ----------------
node_modules
server/node_modules
client/node_modules

# ---------------- ENV (VERY IMPORTANT 🔥) ----------------
.env
.env.*
!.env.example
server/.env
client/.env

# ---------------- BUILD ----------------
dist
dist-ssr
build


# ---------------- VITE ----------------
.vite

# ---------------- OS ----------------
.DS_Store
Thumbs.db

# ---------------- EDITOR ----------------
.vscode/*
!.vscode/extensions.json
.idea

# ---------------- MISC ----------------
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?